<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>

    <style>
    body {
      padding: 0;
      margin: 0;
      background-color: white;
    }
    .invoice-box {
        margin: 50px;
        position: relative;
        background-color: white;
        font-size: 12px;
        line-height: 24px;
        font-family: Arial, 'Helvetica Neue', 'Helvetica', Helvetica, sans-serif;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
        border-collapse: collapse;
    }

    .invoice-box table td {
        padding: 6px;
        vertical-align: top;
    }

    .invoice-box .subTitle {
        font-size: 13px;
    }

    .invoice-box .title {
        font-size: 25px;
        line-height: 20px;
    }
    .invoice-box table.headerInfo {
      width: auto;
      line-height: normal;
      margin-bottom: 15px;
    }

    .invoice-box table.headerInfo td:first-child {
        text-align: right;
        font-weight: bold;
    }
    .invoice-box table.headerInfo td:last-child {
        text-align: left;
        font-weight: lighter;
    }



    table.mainTable td:nth-child(n+4), table.mainTable td:last-child {
        text-align: right;
    }

    table.mainTable th, table.mainTable td{
      border: 0.5px solid black;
    }

    table.mainTable tr.heading td {
        font-weight: bold;
        text-align: center;
    }
    table.mainTable tr.heading {
        border-bottom-style: double;
        line-height: 17px;
    }

    table.mainTable tr.total td:nth-child(n+4) {
        font-weight: bold;
    }
    </style>
  </head>

  <body>
    <div class="invoice-box">
      <div style="text-align:center;">
        <img src="<%= iconPath %>" style="float:left; max-width:70px; position:absolute; left:2px; top:-15px;">
        <span class="title">PT DWIPRIMA KARYAGUNA</span><br/>
        <span class="subTitle">JALAN RAYA ANYER NO. 122 CILEGON, Telp. 0254-312114, Fax:0254-310084</span>
      </div>
      <hr/>
      <div style="display:flex; margin-top:10px;">
        <div style="flex-basis:70%">
          <table class="headerInfo" cellpadding="0" cellspacing="0">
            <tr>
              <td>KEPADA YTH :</td>
              <td>
                <%= client %> <br/>
                <%if (locals.addressLine1) { %>
                  <%= addressLine1 %> <br>
                <% } %>
                <%if (locals.addressLine2) { %>
                  <%= addressLine2 %> <br>
                <% } %>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <table class="headerInfo">
            <tr>
              <td>INVOICE NO. :</td>
              <td><%= id %></td>
            </tr>
            <tr>
              <td>TANGGAL :</td>
              <td><%= date %></td>
            </tr>
          </table>
        </div>
      </div>

        <table class="mainTable" cellpadding="0" cellspacing="0">
            <tr class="heading">
                <td style="width:5%">
                    No.
                </td>

                <td style="width:20%">
                    Nama Barang/Jasa
                </td>

                <td style="width:30%">
                    Keterangan
                </td>

                <td style="width:15%">
                  Jumlah
                  <span style="font-weight: lighter; display: block;">(unit / m<sup>2</sup>)</span>
                </td>

                <td style="width:15%">
                  Harga Satuan
                  <span style="padding-top: 4px; font-weight: lighter; display: block;">(Rp)</span>
                </td>

                <td style="width:15%">
                  Nilai
                  <span style="padding-top: 4px; font-weight: lighter; display: block;">(Rp)</span>
                </td>
            </tr>

            <% for(var i=0; i < items.length; i++) { %>
              <tr class="item">
                  <td>
                    <%= i+1 %>
                  </td>

                  <td>
                    <%= items[i].name %>
                  </td>

                  <td style="white-space: pre-wrap;"><%= items[i].description %></td>

                  <td>
                    <%= items[i].quantity %>
                  </td>

                  <td>
                    <%= items[i].rate %>
                  </td>

                  <td>
                    <%= items[i].amount %>
                  </td>
              </tr>
            <% } %>

            <tr class="item last">
                <td colspan="4" style="text-align:center;">
                    SUBTOTAL
                </td>
                <td></td>
                <td>
                    <%= subtotal %>
                </td>
            </tr>

            <tr class="item last">
                <td colspan="4" rowspan="2">
                  Terbilang: # <span style="font-family: helvetica-light;"><%= terbilang %></span> #
                </td>
                <td style="padding-left:15px;">PPN <%= taxPercent %>%</td>
                <td>
                    <%= tax %>
                </td>
            </tr>

            <tr class="total">
                <td style="padding-left:15px;">TOTAL NILAI</td>
                <td>
                    <%= total %>
                </td>
            </tr>
        </table>

        <div style="display:flex; margin-top:30px;">
          <div style="flex-basis:70%">
            <b><u>Catatan</u></b>
            <span style="display: block; padding-right:100px;"><%= catatanInvoice %></span>
          </div>
          <div style="text-align:center;">
            <p>Hormat Kami</p>
            <br/>
            <br/>
            <b><u>( Witarso )</u></b>
            <span style="display: block;">Direktur</span>
          </div>
        </div>
    </div>
  </body>
</html>
