<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>

    <style>
    .a5Size {
      font-size: 70%;
    }
    body {
      padding: 0;
      margin: 0;
      background-color: white;
    }
    .pageFooter {
      /* position:absolute;
      bottom:0;
      width:100%;
      height: 27em;
      background-color: white; */
    }
    #kwitansi .invoice-box{
      margin-top: 1em;
    }
    .invoice-box {
        margin:1.8em 4.16em 0.83em 4.16em;
        position: relative;
        background-color: white;
        font-size: 0.75em;
        line-height: 2em;
        font-family: Arial, 'Helvetica Neue', 'Helvetica', Helvetica, sans-serif;
    }

    .invoice-box .spacedRowItem.lastSpacedRowItem {
      height: <%= 24 - ((numItemLines-1)*1.7) - 0.5 %>em;
    }
    .invoice-box .spacedRowItem.firstSpacedRowItem td {
      padding-top: 0.5em;
    }
    .invoice-box tr.spacedRowItem td {
      border-width: 0px 0.04em;
      line-height: 1.7em;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
        border-collapse: collapse;
    }

    .invoice-box table td {
        padding: 0.5em;
        vertical-align: top;
    }

    .invoice-box .subTitle {
        font-size: 1em;
        font-weight: 600;
    }

    .invoice-box hr {
      height: 0px;
      border: none;
      border-top: 1px solid black;
    }

    .invoice-box .title {
        font-size: 2em;
        font-weight: 600;
    }
    .invoice-box table.headerInfo {
      width: auto;
      line-height: normal;
      margin-bottom: 0.41em;
    }

    .invoice-box table.headerInfo td:first-child {
        text-align: right;
        font-weight: bold;
    }
    .invoice-box table.headerInfo td:last-child {
        text-align: left;
        font-weight: lighter;
    }

    #kwitansi .invoice-box table.paymentInfo {
      text-align: left;
    }
    #kwitansi .invoice-box table.paymentInfo td {
      padding: 0.1em 0;
    }
    #kwitansi .invoice-box table.paymentInfo td:first-child {
      width: 10em;
    }



    table.mainTable td:nth-child(n+3), table.mainTable td:last-child {
        text-align: right;
    }

    table.mainTable th, table.mainTable td{
      border: 0.04em solid black;
      padding: 0 0.5em;
    }

    table.mainTable tr.heading td {
        font-weight: bold;
        text-align: center;
    }
    table.mainTable tr.heading {
        border-bottom-style: double;
        line-height: 1.41em;
    }

    table.mainTable tr.total td:nth-child(n+4) {
        font-weight: bold;
    }

    .totalBlock {
      -webkit-print-color-adjust: exact;
      background-color: antiquewhite;
      padding: 0.41em 4.16em;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }

    .signature {
      margin-bottom:3.6em;
      margin-top:0;
    }

    </style>
  </head>

  <body class="<%= (pageSize == 'A5') ? 'a5Size' : (pageSize == 'Letter') ? 'letterSize' : (pageSize == 'Legal') ? 'legalSize' : 'a4' %>">
    <div class="invoice-box">
      <div style="text-align:center;">
        <img src="<%= iconPath %>" style="float:left; max-width:5em; position:absolute; left:1em; top:-0.3em;">
        <span class="title">PT DWIPRIMA KARYAGUNA</span><br/>
        <span class="subTitle">JALAN RAYA ANYER NO. 122 CILEGON, Telp. 0254-312114, Fax:0254-310084</span>
      </div>
      <hr/>
      <div style="display:flex; margin-top:0.83em;">
        <div style="flex-basis:70%">
          <table class="headerInfo" cellpadding="0" cellspacing="0">
            <tr>
              <td>KEPADA YTH :</td>
              <td>
                <%= client %> <br/>
                <%if (locals.addressLine1) { %>
                  <%= addressLine1 %> <br>
                <% } %>
                <%if (locals.addressLine2) { %>
                  <%= addressLine2 %> <br>
                <% } %>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <table class="headerInfo">
            <tr>
              <td>INVOICE NO. :</td>
              <td><%= id %></td>
            </tr>
            <tr>
              <td>TANGGAL :</td>
              <td><%= date %></td>
            </tr>
          </table>
        </div>
      </div>

        <table class="mainTable" cellpadding="0" cellspacing="0">
            <tr class="heading">
                <td style="width:5%">
                    No.
                </td>

                <td style="width:50%">
                    Keterangan
                </td>

                <td style="width:15%">
                  Jumlah
                </td>

                <td style="width:15%">
                  Harga Satuan
                  <span style="padding-top: 0.33em; font-weight: lighter; display: block;">(Rp)</span>
                </td>

                <td style="width:15%">
                  Nilai
                  <span style="padding-top: 0.33em; font-weight: lighter; display: block;">(Rp)</span>
                </td>
            </tr>

            <% for(var i=0; i < items.length; i++) { %>
              <tr class="item spacedRowItem <%= (i==items.length-1) ? 'lastSpacedRowItem' : '' %> <%= (i==0) ? 'firstSpacedRowItem' : '' %>">
                  <td>
                    <%= i+1 %>
                  </td>

                  <td style="white-space: pre-wrap;"><%= items[i].description %></td>

                  <td>
                    <%= items[i].quantity %> <%- items[i].unit %>
                  </td>

                  <td>
                    <%= items[i].rate %>
                  </td>

                  <td>
                    <%= items[i].amount %>
                  </td>
              </tr>
            <% } %>

            <tr class="item last">
                <td colspan="3" style="text-align:center;">
                    SUBTOTAL
                </td>
                <td></td>
                <td>
                    <%= subtotal %>
                </td>
            </tr>

            <tr class="item last">
                <td colspan="3" rowspan="2">
                  Terbilang: # <span style="font-family: helvetica-light;"><%= terbilang %> RUPIAH</span> #
                </td>
                <td style="padding-left:1.25em;">PPN <%= taxPercent %>%</td>
                <td>
                    <%= tax %>
                </td>
            </tr>

            <tr class="total">
                <td style="padding-left:1.25em;">TOTAL NILAI</td>
                <td>
                    <%= total %>
                </td>
            </tr>
        </table>

        <div style="display:flex; margin-top:0.83em;">
          <div style="flex-basis:70%">
            <b><u>Catatan</u></b>
            <span style="display: block; padding-right:8.33em;"><%= catatanInvoice %></span>
          </div>
          <div style="text-align:center;">
            <p>Hormat Kami</p>
            <br/>
            <br/>
            <b><u>( Witarso )</u></b>
            <span style="display: block;">Direktur</span>
          </div>
        </div>
    </div>

    <section class="<%= (forViewing) ? '' : 'pageFooter' %>" id="kwitansi">
      <hr/>
      <div class="invoice-box">
        <div style="text-align:center;">
          <img src="<%= iconPath %>" style="float:left; max-width:5em; position:absolute; left:1em; top:-0.2em;">
          <span class="title">PT DWIPRIMA KARYAGUNA</span><br/>
          <span class="subTitle">JALAN RAYA ANYER NO. 122 CILEGON, Telp. 0254-312114, Fax:0254-310084</span>
        </div>
        <hr/>
        <div style="margin-top:0.83em;">
          <table class="headerInfo" cellpadding="0" cellspacing="0">
            <tr>
              <td><u>KWITANSI NO :</u></td>
              <td>
                <%= id %>
              </td>
            </tr>
          </table>
        </div>

        <div style="padding-left: 0.5em">
          <table class="paymentInfo" cellpadding="0" cellspacing="0">
            <tr>
              <td>Sudah Terima Dari:</td>
              <td><%= client %></td>
            </tr>
            <tr>
              <td>Uang sebanyak</td>
              <td><b># <span style="font-family: helvetica-light;"><%= terbilang %> RUPIAH</span> # </b></td>
            </tr>
            <tr>
              <td>Untuk Pembayaran:</td>
              <td><%= keteranganKwitansi %></td>
            </tr>
          </table>

          <div style="display:flex;">
            <div style="flex-basis:40em; margin-top:3em;">
              <div style="margin-left:4.16em; margin-bottom: 3em;">
                <span class="totalBlock">
                  Rp. <%= total %>
                </span>
              </div>
              <b><u>Catatan</u></b>
              <span style="display: block; padding-right:8.3em;"><%= catatanKwitansi %></span>
            </div>
            <div style="text-align:center;">
              <!-- Tanggal Kwitansi, tempat kwitansi -->
              <p class="signature">Cilegon, <%= date %></p>
              <br/>
              <br/>
              <b><u>( Witarso )</u></b>
              <span style="display: block;">Direktur</span>
            </div>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
