<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML kwitansi template</title>

    <style>
    body {
      padding: 0;
      margin: 0;
    }
    .invoice-box {
        margin: 50px;
        position: relative;
        background-color: white;
        font-size: 12px;
        line-height: 24px;
        font-family: Arial, 'Helvetica Neue', 'Helvetica', Helvetica, sans-serif;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
        border-collapse: collapse;
    }

    .invoice-box table td {
        padding: 6px;
        vertical-align: top;
    }

    .invoice-box .subTitle {
        font-size: 13px;
    }

    .invoice-box .title {
        font-size: 25px;
        line-height: 20px;
    }
    .invoice-box table.headerInfo {
      width: auto;
      line-height: normal;
      margin-bottom: 15px;
    }

    .invoice-box table.headerInfo td:first-child {
      text-align: right;
      font-weight: bold;
    }
    .invoice-box table.headerInfo td:last-child {
      text-align: left;
      font-weight: lighter;
    }


    .totalBlock {
      background-color: antiquewhite;
      padding: 5px 50px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
    </style>
  </head>

  <body>
    <div class="invoice-box">

      <div style="text-align:center;">
        <img src="<%= iconPath %>" style="float:left; max-width:70px; position:absolute; left:2px; top:-15px;">
        <span class="title">PT DWIPRIMA KARYAGUNA</span><br/>
        <span class="subTitle">JALAN RAYA ANYER NO. 122 CILEGON, Telp. 0254-312114, Fax:0254-310084</span>
      </div>
      <hr/>
      <div style="margin-top:10px;">
        <table class="headerInfo" cellpadding="0" cellspacing="0">
          <tr>
            <td><u>KWITANSI NO :</u></td>
            <td>
              <%= id %>
            </td>
          </tr>
        </table>
      </div>

      <div style="padding-left: 6px">
        Sudah Terima Dari:  <%= client %>
        <br/>
        <b> Uang sebanyak Rp. # <span style="font-family: helvetica-light;"><%= terbilang %></span> # </b>
        <br/>
        Untuk Pembayaran: <%= items.map((item) => item.name).join(',  ') %>

        <div style="display:flex;">
          <div style="flex-basis:70%; margin-top:50px;">
            <div style="margin-left:50px;">
              <span class="totalBlock">
                Rp. <%= total %>
              </span>
            </div>
            <br/>
            <b><u>Catatan</u></b>
            <span style="display: block; padding-right:100px;"><%= catatanKwitansi %></span>
          </div>
          <div style="text-align:center;">
            <!-- Tanggal Kwitansi, tempat kwitansi -->
            <p>Cilegon, <%= date %></p>
            <br/>
            <br/>
            <br/>
            <b><u>( Witarso )</u></b>
            <span style="display: block;">Direktur</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
